[submodule "tetra_dos/ctetra"]
	path = tetra_dos/ctetra
	url = https://github.com/tflovorn/ctetra.git
[submodule "tetra_dos/bstrlib"]
	path = tetra_dos/bstrlib
	url = https://github.com/websnarf/bstrlib.git
